{% extends ":Visiteur:base.html.twig" %}

{% block body %}
    <center>
        <div class="container">
            <h3>Liste des Lignes Frais Forfaits</h3><br/>
            <table class="table table-dark table-hover">
                <tr>
                    <th>Fiche frais</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Libelle</th>
                    <th>Supprimer</th>
                </tr>
                {% for unLFHF in lfhf %}
                    <tr>
                        <td>{{ unLFHF.ficheFrais.FF }}</td>
                        <td>{{ unLFHF.date|date('d/m/Y') }}</td>
                        <td>{{ unLFHF.montant }} €</td>
                        <td>{{ unLFHF.libelle }}</td>
                        <td><a href="/visiteur/ligne_frais_hors_forfait/supprimer/{{ unLFHF.id }}" class="btn btn-outline-danger">SUPPRIMER</a></td>
                    </tr>
                {% endfor %}
            </table><br/>
            <a href="/visiteur/ligne_frais_hors_forfait/ajouter" class="btn btn-outline-light">AJOUTER NOUVELLE<br/>LIGNE FRAIS<br/> HORS FORFAIT</a><br/>
        </div>
    </center>

{% endblock %}